html {
    background-color: black;
    color: seashell;
    font-size: 22px;
}

/* Header Section */
header {
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;display: inline-flex;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#logo{
    height: 50px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
}

li {
    text-decoration: underline;
    margin: 10px;
}


/* Our Mission Section */
.our_mission {
    height: 700px;
    width: 1200px;
}

/* Gallery Section */
.gallery {
    width: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.gallery_img {
    height: 200px;
    width: 300px;
}

/* Locations Section */
.locations {
    height: 500px;
    display: flex;
    justify-content: center;
}

.location_container {
    background-color: black;
    width: 300px;

}

/* Conact Section */
.contact {
    height: 200px;
}


/* Footer Section */
footer {
    margin-top: 20px;
    text-align: left;
}