html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

html {
    background-color: black;
    color: hsl(25, 100%, 97%, 0.9);
    font-size: 22px;
    font-family: Helvetica;
}

body {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Header Section */
header {
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: inline-flex;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#logo{
    height: 50px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
}

li {
    text-decoration: underline;
    margin: 10px;
}


/* Our Mission Section */
.our_mission {
    height: 700px;
    width: 1200px;
    background-image: url("../images/mission-background.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-flex;
    align-items: center;
}

.mission {
    text-align: center;
    background-color: black;
    width: 100%
}

/* Gallery Section */
.gallery {
    width: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.gallery_img {
    height: 200px;
    width: 300px;
}

/* Locations Section */
.locations {
    height: 500px;
    background-image: url("../images/locations-background.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.location_container {
    background-color: black;
    width: 300px;
    display: inline-flex;
    justify-content: space-around;
}

/* Conact Section */
.contact {
    height: 200px;
}


/* Footer Section */
footer {
    margin-top: 20px;
    text-align: left;
}